<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">
	<!--statusListener	class="ch.qos.logback.core.status.OnConsoleStatusListener" /-->

	<appender name="srtLog"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>C:/logs/srtApp_lb.log</File>
		<encoder>
			<pattern>Timestamp=%date LogLevel=%level File=%file Line=%line Message="%msg%n"</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				C:/logs/srtApp_lb%i-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2500KB</maxFileSize>
		      </timeBasedFileNamingAndTriggeringPolicy>			
		</rollingPolicy>
	</appender>

	<appender name="Stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>Timestamp=%date LogLevel=%level File=%file Line=%line Message="%msg%n"</pattern>
		</encoder>
	</appender>


	<root level="DEBUG">
		<appender-ref ref="srtLog" />
	</root>


	<logger name="com.srt" level="DEBUG">
		<appender-ref ref="srtLog" />
	</logger>
</configuration>